<!-- Home View -->
<div class="card mb-4">
    <div class="card-header">Welcome</div>
    <div class="card-body">
        <h5 class="card-title">Sunnyside SolarSim</h5>
        <p class="card-text">A Visualization and Simulation Tool for the Sunnyside Solar Community Solar Farm in Durango, CO.</p>
        <p class="card-text">This tool is powered by LPEA and the Fort Lewis Virtual Solar Lab.</p>

        <div id="logos" class="dashboard-footer-logos">
			<img src="res/lpea_logo.png" alt="LPEA Logo" class="logo">
			<img src="res/flc_logo.png" alt="FLC Logo" class="logo">
		</div>

        <p class="card-text">This web application uses PVLib for modeling photovoltaic systems.</p>
        <div id="logos" class="dashboard-footer-logos">
			<img src="res/pvlib_logo.png" alt="PVLib Logo" class="logo">
		</div>
    </div>
</div>
<div class="card mb-4">
    <div class="card-header">Getting Started</div>
    <div class="card-body">
        Step 1: <a href="#" data-view="run">Run a Simulation</a> to generate results.<br>
        Step 2: View your results in the <a href="#" data-view="results">Explore Data</a> tab.<br>
        Step 3: Download your results as a CSV file from the <a href="#" data-view="table">Metrics & Export</a> tab.<br>
    </div>
</div>